*{
  font-family: Josefin Slab;
  color: black;
}

#logo-container img {
   width: 100%;
   height: auto;
}

/*Nav Bar*/
.topnav {
    background-color: #87AFC7;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
        background-color: #ddd;
        color: black;
    }

/*Text on Blog page*/
.article{
  padding-left: 200px;
  padding-right: 200px;
}

/*carousel*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

.caption1{
  color: white;
  font-weight: bold;
}

/*image grid*/
.column{
    margin: auto;
    width: 60%;
}

.extras{
  padding-top: 20px;
  display: inline-block;
  padding-left: 82px
}
